* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.navbar {
  padding: 1em;
  font-size: 2rem;
  background-color: blanchedalmond;
}

.navbar-logo {
  margin-right: 0.5em;
  color: green;
}

.navbar-count {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.2em;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  line-height: 2.5rem;
  color: white;
  background-color: green;
}

.add-input {
  margin-right: 0.2em;
  font-size: 2rem;
}

.add-button {
  height: 100%;
  padding: 0.3em 0.5em;
  font-size: 1.5rem;
  color: white;
  background-color: green;
}

.habit {
  padding: 0.5em;
  font-size: 2.5rem;
  list-style: none;
}

.habit-count {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  line-height: 2.5rem;
  color: white;
  background-color: darkseagreen;
}

.habit-button {
  margin: 0 0.1em;
  font-size: 2.5rem;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  font-size: 2rem;
  color: darkred;
}

.habits-reset {
  padding: 0.2em 1em;
  font-size: 1.5rem;
  color: white;
  background-color: green;
}